#box2
    .box
        .minibox
            background-color: #936c4a
            width: 200px
            height: 200px
            transition: 2s
            padding: 75px
            margin: 0 91px
            &:hover
                border-radius: 100px
            h1
                font-size: 30px
                color: #ffff
                font-weight: 700
                