#demo
    h1
        color: #ffff
        font-size: 24px
    .minibox
        background-color: #88637a
        width: 236px
        height: 112px
        border-radius: 5px
        margin: 88px 0
    .miniboxred
        width: 224px
        height: 100px
        transition: 2s
        &:hover
            background-color: #444051
